# Air Quality Index

### Import libraries

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn import metrics

%matplotlib inline

### Load dataset

In [16]:
df = pd.read_csv('../data/aqi_data.csv')

### Data inspection

In [17]:
df.head()

         date      time  pm25  temperature  pressure  humidity  wind
0  13-06-2024  12:23:14    73           31      1015        62     3
1  13-06-2024  11:56:38    76           31      1014        66     3
2  13-06-2024  12:00:50    76           31      1014        66     3
3  13-06-2024  12:15:52    76           31      1014        66     3
4  13-06-2024  12:18:49    76           31      1014        66     3

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         7 non-null      object
 1   time         7 non-null      object
 2   pm25         7 non-null      int64
 3   temperature  7 non-null      int64
 4   pressure     7 non-null      int64
 5   humidity     7 non-null      int64
 6   wind         7 non-null      int64
dtypes: int64(5), object(2)
memory usage: 524.0+ bytes

In [19]:
df.isnull().sum()

date           0
time           0
pm25           0
temperature    0
pressure       0
humidity       0
wind           0
dtype: int64

### Data cleaning

Remove time column, as it is not needed

In [20]:
df.drop(columns=['date', 'time'], axis=1, inplace=True)
df

   pm25  temperature  pressure  humidity  wind
0    73           31      1015        62     3
1    76           31      1014        66     3
2    76           31      1014        66     3
3    76           31      1014        66     3
4    76           31      1014        66     3
5    77           32      1013        62     4
6    80           32      1013        59     3

### Duplicate values

In [21]:
df.duplicated().sum()

3

Drop duplicate values

In [22]:
df.drop_duplicates(inplace=True)
df

   pm25  temperature  pressure  humidity  wind
0    73           31      1015        62     3
1    76           31      1014        66     3
5    77           32      1013        62     4
6    80           32      1013        59     3

### Model training